:root{
    --primary-400: hsl(158, 36%, 37%);
    --primary-500: hsl(158, 36%, 20%);
    --secondary-200: hsl(30, 38%, 92%);
    --neutral-900: hsl(212, 21%, 14%);
    --neutral-400: hsl(228, 12%, 48%);
    --neutral-100: hsl(0, 0%, 100%);
    
    --fw-regular:500;
    --fw-bold:700;

    --font-accent:'Fraunces',serif;
    --font-base:'Montserrat',sans-serif;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}
html,body{
    height: 100%;
}
body{
    line-height: 1.7;
    -webkit-font-smoothing:antialiased;
}
img,picture,video,canvas,svg{
    display: block;
    max-width: 100%;
}
input,button,textarea,select{
    font: inherit;
}
p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1;
}

body{
    font-family: var(--font-base);
    font-weight: var(--fw-regular);
    color: var(--neutral-400);
    font-size: 0.875rem;
    background-color: var(--secondary-200);
    display: grid;
    place-content: center;
    margin: 1rem;
}
.flex_group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.product{
    --content-padding:1.5rem;
    --content-spacing:1rem;

    display: grid;
    background-color: var(--neutral-100);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
}
@media (min-width:600px) {
    .product{
        --content-padding:2rem;
        grid-template-columns: 1fr 1fr;
    }
    
}
.product__content{
    display: grid;
    gap: var(--content-spacing);
    padding: var(--content-padding);
}
.product__category{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8125rem;
}
.product__title{
    font-size: 2rem;
    font-family: var(--font-accent);
    color: var(--neutral-900);
}
.price{
    font-size: 2rem;
    font-family: var(--font-accent);
    color: var(--primary-400);
}
.btn{
    cursor: pointer;
    padding: .5rem 1.5rem;
    border: 0;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--primary-400);
    color: var(--neutral-100);
    font-weight: var(--fw-bold);
    font-size: 0.925rem;
    border-radius: 0.5rem;
}
.btn[data-icon="shopping-cart"]::before{
    content: '';
    background-image: url(./images/icon-cart.svg);
    width: 15px;
    height: 16px;
}
.btn:is(:hover,:focus){
    background-color: var(--primary-500);
}